.about {
    margin: 0 auto;
    padding: 1rem;
    background: #59F8E8;
    text-align: center;
    color: #3C493F;
}

.about-text {
    width: 70%;
    font-size: 1.3rem;
    margin: 0 auto;
    line-height: 2rem;
}

@media only screen and (min-width: 1000px) {
    body {
        .about-text {
            width: 50%;
            margin: 0 auto;
        }
    }
}

