.intro {
    margin: 0 auto;
    text-align: center;
    background: #054A91;
    color: #59F8E8;
    padding: 1rem 0;
}

.intro h5 {
    margin: 0.8rem 0;
}

.photo {
    height: auto;
    max-width: 25%;
    border-radius: 50%;
    border: 2px solid #59F8E8;
}

@media only screen and (max-width: 1000px) {
    body {
        .photo {
            max-width: 50%;
        }

        .intro-text-dt {
            display: block;
        }

        .intro-text-mb {
            display: none;
        }
    }
}

@media only screen and (min-width: 1000px) {
    body {
        .intro {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .intro-text-dt {
            display: none;
        }

        .intro-text-mb {
            display: block;
            width: 30%;
            line-height: 1.8rem;
        }
    }
}
