.project-items {
    display: flex;
    padding: 1rem;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-list {
    background: #3C493F;
    padding: 1rem 0;
    color: #59F8E8;
}

.project-list h1 {
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    body {
        .project-items {
            width: 50%;
            margin: 0 auto;
        }
    }
}

