.work-list {
    padding: 1rem;
    color: #59F8E8;
    background: #054A91;
}

.work-list h1 {
    text-align: center;
}

.work-item li {
    line-height: 1.5rem;
}

@media only screen and (min-width: 1000px) {
    body {
        .work-items {
            width: 60%;
            margin: 1.5rem auto;
            border: 2px solid #59F8E8;
            padding: 1.5rem;
            border-radius: 5px;
            color: #3C493F;
            background: #59F8E8;
        }
    }
}

@media only screen and (max-width: 1000px) {
    body {
        .work-items {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin: 1.5rem auto;
        }

        .work-item {
            color: #3C493F;
            border-radius: 5px;
            background: #59F8E8;
            border: 4px solid #59F8E8;
            padding: 1.5rem;
        }

    }
}
